accelerate==0.34.2
datasets==2.21.0
fastapi==0.115.0
gradio==4.44.0
httpx==0.27.2
jiwer==3.0.4
librosa==0.10.2.post1
numpy==1.26.4
protobuf==5.28.2
pydantic==2.9.2
pydub==0.25.1
pytest==8.3.3
python-dotenv==1.0.1
python-multipart==0.0.9
requests==2.32.3
scikit-learn==1.5.2
scipy==1.15.2
sentencepiece==0.2.0
soundfile==0.12.1
torch==2.4.1
transformers==4.44.2
uvicorn==0.30.6
